{% extends 'base.html' %}

{% block title %}Mark Bryan - Register{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="fullname" class="form-label">Full Name</label>
      <input name="fullname" class="form-control" id="fullname" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="password" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Register">
  </form>
{% endblock %}
