:root {
    --mab-dark: #212529;
    --mab-admin: #8B0000;
    --mab-1: #763626;
    --mab-2: #2A3132;
    --mab-3: #3F3B37;
    --mab-4: #90AFC5;
    --mab-text-1: #763626;
    --mab-text-2: #2A3132;
    --mab-text-3: #336B87;
    --mab-text-4: #90AFC5;
}

body {
  font-family: 'Roboto', sans-serif;
}

.before_content {
    margin-bottom: 20px;
}

.row {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.mab-title {
    margin-bottom: 0;
}

.mab-section-title {
    text-transform: uppercase;
    font-weight: bold;
}

.admin-tools {
    background-color: var(--mab-admin);
    margin-bottom: 20px;
}

.mab-text-1 {
    color: var(--mab-text-1);
}

.mab-text-2 {
    color: var(--mab-text-2);
}

.mab-text-3 {
    color: var(--mab-text-3);
}

.mab-text-4 {
    color: var(--mab-text-4);
}

.mab-1 {
    background-color: var(--mab-1);
}

.mab-2 {
    background-color: var(--mab-2);
}

.mab-3 {
    background-color: var(--mab-3);
}

.mab-4 {
    background-color: var(--mab-4);
}

.mab-logo {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
}
