body {
  font-family: 'Roboto', sans-serif;
}

.before_content {
    margin-bottom: 20px;
}

.row {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.mab-title {
    margin-bottom: 0;
}
