{% extends 'base.html' %}

{% block title %}Mark Bryan - Resume{% endblock %}

{% block content %}
  <div class="row">
    <p class="mab-section-title">Education</p>
  </div>
  {% for item in resume['education'] %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1 mab-title">{{ item['name'] }}</p>
      </div>
      <div class="col-3">
        <p class="mab-text-2 mab-title" style="text-align: right;"><em>{{ item['dates'] }}</em> | <span><img src="{{ item['logo_url'] }}" class="mab-logo"></span></p>
      </div>
    </div>
    <div class="row mab-title">
      <div class="col-9">
        <p class="text-secondary"><em>@ {{ item['location'] }}</em></p>
      </div>
    </div>
    <div class="row">
      <ul class="list-unstyled">
        {% for note in item['details'] %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <hr>

  <div class="row mab-title">
    <p class="mab-section-title">Experience</p>
  </div>
  {% for item in resume['experience'] %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1 mab-title">{{ item['title'] }}</p>
      </div>
      <div class="col-3">
        <p class="h6 mab-text-2 mab-title" style="text-align: right;"><em>{{ item['dates'] }}</em> | <span><img src="{{ item['logo_url'] }}" class="mab-logo"></span></p>
      </div>
    </div>
    
    <div class="row">
      <p class="text-muted mab-title"><em>{{ item['company'] }} @ {{ item['location'] }}</em></p>
    </div>

    <div class="row">
      <ul class="list-unstyled">
        {% for note in item['details'] %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <hr>
  <div class="row mab-title">
    <p class="mab-section-title">Skills</p>
  </div>
  <div class="row">
    <ul>
      {% for skill in resume['skills'] %}
        <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
