{% extends 'base.html' %}

{% block title %}Mark Bryan - Resume{% endblock %}

{% block content %}
  <div class="row mab-title">
    <p>Education</p>
  </div>
  {% for item in education %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1 mab-title">{{ item['name'] }}<span><img src="{{ item['logo_url'] }}" class="mab-logo"></span></p>
      </div>
      <div class="col-3">
        <p class="mab-text-2 mab-title" style="text-align: right;"><em>{{ item['dates'] }}</em></p>
      </div>
    </div>
    <div class="row mab-title">
      <div class="col-9">
        <p class="text-secondary"><em>@ {{ item['location'] }}</em></p>
      </div>
    </div>
    <div class="row">
      <ul class="list-unstyled">
        {% for note in item['notes'] %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <hr>

  <div class="row mab-title">
    <p>Experience</p>
  </div>
  {% for item in experience %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1 mab-title">{{ item['title'] }}<span><img src="{{ item['logo_url'] }}" class="mab-logo"></span></p>
      </div>
      <div class="col-3">
        <p class="h6 mab-text-2 mab-title" style="text-align: right;"><em>{{ item['dates'] }}</em></p>
      </div>
    </div>
    
    <div class="row">
      <p class="text-muted mab-title"><em>{{ item['name'] }} @ {{ item['location'] }}</em></p>
    </div>

    <div class="row">
      <ul class="list-unstyled">
        {% for note in item['notes'] %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <hr>
  <div class="row mab-title">
    <p>Skills</p>
  </div>
  <div class="row">
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C++</li>
      <li>JavaScript</li>
      <li>C#</li>
      <li>Database Systems</li>
      <li>Distributed Systems</li>
    </ul>
  </div>

{% endblock %}
