{% extends 'base.html' %}

{% block title %}Mark Bryan - Research{% endblock %}
{% set active_page = "research" %}

{% block content %}
  <div class="row mab-title">
    <p class="mab-section-title">Publications</p>
  </div>
  {% for item in research['publications'] %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1">{{ item['name'] }}</p>
      </div>
      <div class="col-3">
        <p class="text-muted" style="text-align: right;">{{ item['date'] }}</p>
      </div>
    </div>
    <div class="row">
      <p>{{ item['publication'] }}</p>
    </div>
    <div class="row">
      <p>{{ item['description'] }}</p>
    </div>
    <div class="row">
      <div>
        <a href="{{ item['url'] }}" class="btn btn-dark">Read Paper</a>
      </div>
    </div>
  {% endfor %}

  <hr>

  <div class="row mab-title">
    <p class="mab-section-title">Presentations</p>
  </div>
  {% for item in research['presentations'] %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1">{{ item['name'] }}</p>
      </div>
      <div class="col-3">
        <p class="text-muted" style="text-align: right;">{{ item['date'] }}</p>
      </div>
    </div>
    <div class="row">
      <p>{{ item['description'] }}</p>
    </div>
  {% endfor %}

  <hr>

  <div class="row mab-title">
    <p class="mab-section-title">Awards</p>
  </div>
  {% for item in research['awards'] %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="mab-text-1">{{ item['name'] }}</p>
      </div>
      <div class="col-3">
        <p class="text-muted" style="text-align: right;">{{ item['date'] }}</p>
      </div>
    </div>
    <div class="row">
      <p>{{ item['description'] }}</p>
    </div>
  {% endfor %}
{% endblock %}
