{% extends 'base.html' %}

{% block title %}Mark Bryan - Research{% endblock %}

{% block content %}
  <div class="row mab-title">
    <p>Publications</p>
  </div>

  {% for item in research %}
    <div class="row mab-title">
      <div class="col-9">
        <p class="text-primary">{{ item['name'] }}</p>
      </div>
      <div class="col-3">
        <p class="text-muted" style="text-align: right;">{{ item['date'] }}</p>
      </div>
    </div>
    <div class="row">
      <p>{{ item['publication'] }}</p>
    </div>
    <div class="row">
      <p>{{ item['description'] }}</p>
    </div>
    <div class="row">
      <div>
        <a href="{{ item['url'] }}" class="btn btn-dark">Read Paper</a>
      </div>
    </div>

    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
