{% extends 'base.html' %}

{% block title %}Mark Bryan - New Post{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="title" class="form-control" id="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea name="body" class="form-control" id="body">{{ request.form['body'] }}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
{% endblock %}
