{% extends 'base.html' %}

{% block title %}Mark Bryan - Blog{% endblock %}

{% block content %}
  {% if g.user %}
    <div class="admin-tools">
      <p class="row">Admin Tools</p>
      <a href="{{ url_for('blog.create') }}" class="btn btn-outline-dark">New Post</a>
    </div>
  {% endif %}

  {% for post in posts %}
    <p class="row h5">{{ post['title'] }}</p>
    <p class="row">by {{ post['fullname'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p>
    {% if g.user['id'] == post['author_id'] %}
      <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
    {% endif %}
    <p>{{ post['body'] }}</p>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
