{% extends 'base.html' %}

{% block title %}Mark Bryan - Edit "{{ post['title'] }}"{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="title" class="form-control" id="title"
             value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea name="body" class="form-control" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
