{% extends 'base.html' %}

{% block title %}Mark Bryan{% endblock %}

{% block content %}
    <h3>About me</h3>
    <p>
        Currently working at Broadway Technology in New York, bridging the gap between business goals and technical solutions.
        Previously in Boston and San Francisco.
    </p>
    <p>
        Connect on <a href="https://www.linkedin.com/in/markandrewbryan/">LinkedIn</a> or view my work on <a href="https://github.com/mrkbryn">GitHub</a>.
    </p>

    <h3>Education</h3>
    <h4>Cornell University</h4>
    <p>Bachelor's Degree, Computer Science. Dyson Business Minor for Engineers.</p>
    <p>College of Engineering Dean's List (Fall 2014, Fall 2016, Spring 2017).</p>

    <h3>Research</h3>
    <p><a href="http://www.vldb.org/pvldb/vol10/p1574-trummer.pdf">Data Vocalization: Optimizing Voice Output of Relational Data</a></p>
    <p><a href="http://www.vldb.org/pvldb/vol11/p1563-trummer.pdf">Vocalizing Large Time Series Efficiently</a></p>

    <h3>Work</h3>
    <h4>Broadway Technology</h4>
    <p>Senior Software Consultant, July 2018 - Present</p>

    <h4>Yelp</h4>
    <p>Software Engineer Intern, May 2017 - August 2017</p>
    <p>Improved data documentation service and data warehouse reporting as a member of Yelp’s Consumer Analytics and Metrics team.</p>
    <p>Developed backend infrastructure for collecting, cleaning, and analyzing usage data for Yelp’s data warehouse and implemented frontend visualizations to describe and convey information to data warehouse administrators.</p>
    <p>Provided insight into how Yelp engineers query the data warehouse, guiding decisions to improve system performance.</p>
    <p>Redesigned React user interface for data documentation service in order to improve developer workflow.</p>
    <p>Collaborated with engineers from a variety of teams in order to accomplish project goals.</p>

    <h4>Toast, Inc.</h4>
    <p>Software Engineer Intern, June 2016 - August 2016</p>
    <p>Improved database layer of Toast’s core web application by refactoring the way developers write and release changes to data sources, increasing the reliability of deploying database schema migrations in both development and production environments and improving the efficiency of the engineering team.</p>
    <p>Presented new development workflow to 40+ member engineering team and developed tooling and documentation to facilitate the transition to the new schema migration process.</p>

{% endblock %}
