{% extends 'base.html' %}

{% block title %}Mark Bryan{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3">
          <img src="/static/headshot.jpg" class="rounded img-fluid" alt="Mark Bryan">
        </div>
        <div class="col-9">
            <p class="lead">Currently at Broadway Technology in New York, bridging the gap between client business goals and technical solutions. Previously in Ithaca, Boston and San Francisco.</p>
            <a href="https://www.linkedin.com/in/markandrewbryan/" class="btn btn-outline-dark"><span><i class="fab fa-linkedin"></i></span> LinkedIn</a>
            <a href="https://github.com/mrkbryn" class="btn btn-outline-dark"><span><i class="fab fa-github-square"></i></span> GitHub</a>
        </div>
    </div>

    <h5>Education</h5>
    {% for education in education_info %}
        <dl class="row">
            <dt class="col-sm-2">{{ education['name'] }}</dt>
            <dd class="col-sm-2">
                <p>{{ education['location'] }}</p>
                <p>{{ education['date'] }}</p>
            </dd>
            <dd class="col-sm-8">
                {% for note in education['notes'] %}
                    <p>{{ note }}</p>
                {% endfor %}
            </dd>
        </dl>
    {% endfor %}

    <h5>Research and Awards</h5>
    {% for item in research %}
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item['name'] }} - <strong>{{ item['date'] }}</strong></h5>
                    <p class="card-text">{{ item['publication'] }}</p>
                    <p class="card-text">{{ item['description'] }}</p>
                    <a href="{{ item['url'] }}" class="btn btn-dark">Read Paper</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <h5>Experience</h5>
    {% for item in experience %}
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ item['title'] }}, {{ item['name'] }} | <strong>{{ item['dates'] }} | {{ item['location'] }}</strong>
                    </h5>
                    {% for note in item['notes'] %}
                        <p class="card-text">{{ note }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
